<mat-toolbar class="example-header">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  Header v1
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over" style="width: 250px">
    <mat-nav-list>
      @for (link of items; track link) {
      <button mat-list-item>{{ link }}</button>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div style="padding: 2rem">
      @for (lorem of lorems; track $index) {
      <p>{{ lorem }}</p>
      }
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
